---
---
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

body {
  margin-top: 87px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content
 */
main {
  margin-bottom: 20px;
}

ul.nav-browser li.active {
  font-weight: bold;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.darkener {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.masthead {
  height: 200px;
  color: white;
  margin-bottom: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overview.masthead {
   background: #333 url({{site.baseurl}}/images/market_street.jpg) 50% 50% no-repeat;
}
.policies.masthead {
  background: #333 url({{site.baseurl}}/images/ggb_at_dusk.jpg) 50% 50% no-repeat;
}
.data-browser.masthead {
  background: #333 url({{site.baseurl}}/images/timeless_books.jpg) 50% 50% no-repeat;
}
.home.masthead {
  background: url({{site.baseurl}}/images/sf_evening.jpg) 50% 50% no-repeat;
}
.about.masthead {
   background: url({{site.baseurl}}/images/haight.jpg) 50% 50% no-repeat;
}
.image-attribution p {
  text-align: right;
  font-size: .9em;
}
.container-fluid {
  position: relative;
}
.masthead .container {
  height: 100%;
  position: relative;
  z-index: 3;
} 

.masthead h1 {
  position: absolute;
  bottom: 20px;
}

h1.top, h2:first {
  margin-top: 0;
}

.description {
  padding-top: 10px;
  padding-bottom: 10px;
}

h3.panel-title {
  text-transform: capitalize;
}

h2.panel-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.panel-policies {
  margin-bottom: 30px;
  box-shadow: none;
}

.policy-preview .policy-summary {
  height: 100px;
  overflow: hidden;
}
/* Navbar overrides */

.navbar {
  min-height: 55px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}
.navbar-inverse {
  background-color: #245f7b;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  line-height: 25px;
  font-size: .875em;
  font-weight: 400;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #2b5e76;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #2b5e76;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover {
  color: #999;
}
.navbar.navbar-mini {
  position: relative;
  min-height: 32px;
  line-height: 32px;
  background-color: #222222;
  margin: 0;
  border: none;
}
.navbar.navbar-mini li {
  vertical-align: top;
  margin-left: -2px;
  font-size: 12px;
  line-height: 32px;
}
.navbar.navbar-mini li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #c1c1c1;
  line-height: 32px;
}
.navbar.navbar-mini li a:hover {
  background-color: #333
}
.navbar.navbar-mini li.icon a {
  padding: 0 5px;
  font-size: 1.4em;
}
@media (max-width: 992px) {
  body {
    margin-top: 55px;
  }
}
#chart {
  height: 450px;
}

h1.chart-title {
  font-size: 25px;
}

table {
  width: 100%;
max-width: 100%;
margin-bottom: 20px;
}

.legend-item {
  cursor: pointer;
}

.map-legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

.map-legend i.off {
  opacity: 0.2;
  border: thin solid black;
}

.leaflet-popup-content-wrapper {
  pointer-events: none;
}

.table {
  font-size: .95em;
}

.sidenote {
  float: left;
  width: 120px;
  margin: .2143em 0 0 -164px; 
  /*padding-top: .75em;*/
  font-size: .875em !important;
  line-height: 1.42857 !important;
} /* 14/20px (matches 24px line-height every 6 lines) with 3px to match baselines */
.sidenote > * {
  margin-top: 0;
  margin-bottom: 0;
}
.sidenote p+p {
  margin-top: 1.5em;
}

aside.well {
  float: right;
  width: 50%;
  clear: both;
  margin: 0 0 20px 20px;
}

aside h1 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}

aside p {
  font-size: .95em;
}

.affix {
  width: inherit;
  position: fixed;
  top: 125px;
}
.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 200px;
}
.affix-top {

}

.toc.nav>li>a:hover, .toc.nav>li>a:focus {
text-decoration: none;
background-color: transparent;
border-left: 3px solid #326d89;
}

.toc.nav>li.active>a {
  border-left: 3px solid #326d89;
}

h2 {
  color: #326d89;
}

h2:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden; 
}

.highlight {
  border-left: 5px solid;
  padding-left: 5px;
}

.highlight-discovery {
  border-left-color: #7f00ff;
}

.highlight-visualization {
  border-left-color: #ff0080;
}

.highlight-automation {
  border-left-color: #00ad00;
}

.home .row {
  margin-bottom: 30px;
}

.home-buttons a.btn {
  line-height: 55px;
  color: #ffffff;
  text-decoration: none;
}

.btn-darkblue {
  background-color: #00607d;
}

.btn-blue {
  background-color: #125b9a;
}

.btn-lightblue {
  background-color: #317ab9;
}

button p {
  font-size: 18px;
}

.policy-summary p {
  color: black;
}

.policy-summary p:hover {
  color: grey;
}

.policy-preview {
  margin-bottom: 20px;
}

a:hover button {
  text-decoration: none;
}

.right-border-dotted {
  border-right: thin dotted #fff;
}

.brand {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 35px;
  color: #fff;
}

.brand-highlight {
  color: #6dbce2;
}

footer .made-in {
  background-color: #245f7b;
}

footer {
  background-color: #222;
  color: #fff;
}

.footer-blurb {
  padding-right: 250px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*
Popups
 */
.leaflet-popup-content h1 {
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.leaflet-popup-content p {
  font-size: 12px;
  font-weight: 300;
}

/*
Charts
 */
.c3 line, .c3 path {
  stroke: #d9d9d9;
}

.c3 .tick text {
  fill: #666666;
}
/*
 * a11y
 */
.hidden {
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1000;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

@media (max-width: 768px) {
  .equal, .equal > div[class*='col-'] {  
    display: block;
  }
}

.ami-container {
  height: 30px;
  border: thin solid #ddd;
  margin-right: 70px;
  position: relative;
  width: 200px;
  float: right;
}

.ami-container.ami-example {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.ami-lead {
  margin-right: 70px;
  position: relative;
  width: 200px;
  float: right;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.ami-overlay {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.ami-overlay-element {
  width: 20%;
  border-right: thin solid #ddd;
  position: relative;
  float: right;
  height: 29px;
}

.ami-fill {
  height: 29px;
  position: relative;
  z-index: 1;
  background-color: #5EAEDB;
}

.panel, .panel-default, .panel-footer {
  border-radius: 0;
}

.panel-policies .panel-body {
  margin-bottom: 50px;
}

.panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.ami-lower {
  position: absolute;
  height: 30px;
  left: -20px;
  top: 0;
  padding-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

.ami-upper {
  position: absolute;
  height: 30px;
  right: -35px;
  top: 0;
  padding-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

.ami-label {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: right;
  padding: 5px 5px 0 0;
}

.ami-fill.ami-60 {
  width: 30%;
}

.ami-fill.ami-200 {
  width: 100%;
}

.ami-fill.ami-91 {
  width: 45.5%;
}

.ami-fill.ami-80 {
  width: 40%;
}

.ami-fill.ami-none {
  width: 0;
}

.ami-fill.ami-100 {
  width: 50%;
}

.target-people {

}

.ami-fill.ami-none {
  width: 100%;
  background: transparent;
}

.ami-none > .ami-overlay {
  display: none;
}

.no-ami {
  display: none;
}

.ami-fill.ami-none .no-ami{
  display: block;
  text-align: center;
  margin-top: 2px;
}

.ami-fill.ami-none .ami-label {
  display: none;
}

.target {
  border-radius: 50%;
  border: thin solid #ddd;
  position:absolute; 
  bottom: -15px; 
  right: -15px; 
  width: 60px; 
  height: 60px;
}

.target-people {
  background: #fff url(images/icons/people.png) center no-repeat;
}

.target-units {
  background: #fff url(images/icons/units.png) center no-repeat;
}

.phase div.well {
  padding: 10px;
  text-align: center;
}

.phase h3 {
  font-weight: 500;
  color: #fff;
}

.phase p.large {
  font-weight: 500;
  color: #fff;
  font-size: 50px;
}


/* Ribbon 
from: http://unindented.org/articles/github-ribbon-using-css-transforms/
*/
.ribbon {
  z-index: 9999;
  background-color: #ffa53e;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: fixed;
  left: -40px;
  top: 20px;
  width: 175px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid orange;
  color: #000;
  display: block;
  font: bold 95.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #eee;
}

a {
  color: #317ab9;
}

.footnote {
  font-size: .85em;
}
