---
---
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

body {
  margin-top: 87px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content
 */
main {
  margin-bottom: 20px;
}

ul.nav-browser li.active {
  font-weight: bold;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.darkener {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.masthead {
  height: 200px;
  color: white;
  margin-bottom: 30px;
}
.policies.masthead {
  background: #333 url({{site.baseurl}}/images/ggb_at_dusk.jpg) 50% 50% no-repeat;
}
.data-browser.masthead {
  background: #333 url({{site.baseurl}}/images/san-francisco-city-night.jpg) 50% 50% no-repeat;
}
.home.masthead {
  background: url({{site.baseurl}}/images/san-francisco-fly-to-barcelona.jpg) 50% 50% no-repeat;
}
.about.masthead {
   background: url({{site.baseurl}}/images/sf_chinatown.jpg) 50% 50% no-repeat;
}
.container-fluid {
  position: relative;
}
.masthead .container {
  height: 100%;
  position: relative;
  z-index: 3;
} 

.masthead h1 {
  position: absolute;
  bottom: 20px;
}

h1.top, h2:first {
  margin-top: 0;
}

.description {
  padding-top: 10px;
  padding-bottom: 10px;
}

h3.panel-title {
  text-transform: capitalize;
}
.policy-preview .policy-summary {
  height: 100px;
  overflow: hidden;
}
/* Navbar overrides */

.navbar {
  min-height: 55px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}
.navbar-inverse {
  background-color: #326d89;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  line-height: 25px;
  font-size: .875em;
  font-weight: 400;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #2b5e76;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #2b5e76;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover {
  color: #999;
}
.navbar.navbar-mini {
  position: relative;
  min-height: 32px;
  line-height: 32px;
  background-color: #222222;
  margin: 0;
  border: none;
}
.navbar.navbar-mini li {
  vertical-align: top;
  margin-left: -2px;
  font-size: 12px;
  line-height: 32px;
}
.navbar.navbar-mini li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #c1c1c1;
  line-height: 32px;
}
.navbar.navbar-mini li a:hover {
  background-color: #333
}
.navbar.navbar-mini li.icon a {
  padding: 0 5px;
  font-size: 1.4em;
}
@media (max-width: 992px) {
  body {
    margin-top: 55px;
  }
}
#chart {
  height: 400px;
}

h1.chart-title {
  font-size: 25px;
}

table {
  width: 100%;
max-width: 100%;
margin-bottom: 20px;
}

.map-legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

.map-legend i.off {
  opacity: 0.2;
  border: thin solid black;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content-wrapper {
  pointer-events: none;
}

.table {
  font-size: .95em;
}

.sidenote {
  float: left;
  width: 120px;
  margin: .2143em 0 0 -164px; 
  /*padding-top: .75em;*/
  font-size: .875em !important;
  line-height: 1.42857 !important;
} /* 14/20px (matches 24px line-height every 6 lines) with 3px to match baselines */
.sidenote > * {
  margin-top: 0;
  margin-bottom: 0;
}
.sidenote p+p {
  margin-top: 1.5em;
}

aside.well {
  float: right;
  width: 50%;
  clear: both;
  margin: 0 0 20px 20px;
}

aside h1 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}

aside p {
  font-size: .95em;
}

.affix {
  width: inherit;
  position: fixed;
  top: 125px;
}
.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 200px;
}
.affix-top {

}

.toc.nav>li>a:hover, .toc.nav>li>a:focus {
text-decoration: none;
background-color: transparent;
border-left: 3px solid #326d89;
}

.toc.nav>li.active>a {
  border-left: 3px solid #326d89;
}

h2 {
  color: #326d89;
}

h2:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden; 
}

button p {
  font-size: 18px;
}

.policy-summary p {
  color: black;
}

.policy-summary p:hover {
  color: grey;
}

.policy-preview {
  margin-bottom: 20px;
}

a:hover button {
  text-decoration: none;
}

footer {
  background-color: #222;
}
/*
 * a11y
 */
.hidden {
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1000;
}
