<footer>
  <div class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-pills nav-justified">
            <li><a href="/">A project of #DataSF</a>
            </li>
            <li><a href="#">About</a>
            </li>
            <li><a href="#">Something here</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.3.5/tabletop.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{site.baseurl}}/js/c3.js"></script>
<script type="text/javascript" src="http://leafletjs.com/examples/us-states.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
<script src="{{site.baseurl}}/js/colorbrewer.js"></script>
<script src="{{site.baseurl}}/js/databrowser.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

<script>
window.onload = function() {
  {% if page.layout == 'data' %}
  init()
  {% endif %}
  //todo: add custom styles to style.css
  $('table').addClass('table table-striped');
  $('#organizations').before($('#viz-wrapper'));
  {% if page.layout == 'policy' %}
  buildTOC();
  var vizData = browserData[$('.data-browser-select').val()];
  loadViz(vizData);
  $('.data-browser-select').change(function(){
    vizData = browserData[$(this).val()];
    loadViz(vizData);
  });
  $('body').scrollspy({ target: '.nav-toc' })
  {% endif %}
}

function loadViz(params) {
  if (params.type != 'map') {
      generateChart(params);
    } else {
      generateMap(params);
    }
}

function buildTOC() {
  $('h2').each(function(i,el){
    $('.nav.toc').append('<li><a href="#' + $(el).attr('id') + '">' + $(el).html() + '</a></li>');
    //vappend('<a href="#' + $(el).attr('id') + '">' + $(el).html() + '</a>');
  })
}

function init(layout) {
  if ("{{page.type}}" == "map") {
    generateMap();
  } else {
    generateChart();
  }
}

function generateMap(params) {
  var geofile = '{{site.baseurl}}/data/sf_census_tracts.json', colors = 'Blues', scale = 5;
  var geojson, json, column, d, container, units;

  if(params) {
    column = params.column;
    d = params.data;
    if(params.colors != '') {
      colors = params.colors
    }
    if(params.scale != '') {
      scale = parseInt(params.scale);
    }
    container = 'map';
    units = params.units;
    $('#chart').hide();
    $('#map').show();
  } else {
    column = '{{page.column}}';
    units = '{{page.units}}';
    d = "{{page.data}}";
    {% if page.colors %}
    var colors = '{{page.colors}}';
    {% else %}
    var colors = 'Blues';
    {% endif %}

    {% if page.scale %}
    var scale = {{page.scale}}; 
    {% else %}
    var scale = 5; 
    {% endif %}
    container = 'chart';
  }

  var map = L.mapbox.map(container, 'datasf.j9b9ihf0', {
    accessToken: 'pk.eyJ1IjoiZGF0YXNmIiwiYSI6Ilo3bVlHRDQifQ.7gkiPnZtioL8CnCvJ5z9Bg'
  }).setView([37.774929, -122.419416], 12);

  var popup = new L.Popup({
    autoPan: false
  });

  $.ajax({
    type: "GET",
    url: "{{site.baseurl}}/data/" + d,
    dataType: "text",
    success: function(data) {
      json = scaleData(csvJSON(data));
    }
  });

  $.getJSON(geofile, function(geodata) {
    geodata = addDataToGeoJson(json, geodata)
    geojson = L.geoJson(geodata, {
      style: getStyle,
      onEachFeature: onEachFeature
    }).addTo(map);
    var legend = L.mapbox.legendControl().addLegend(getLegendHTML()).addTo(map);
  });

  function scaleData(data) {
    valuesOnlyArray = extractValuesFromObjectArray(data)
    quantizer = new Quantizer(valuesOnlyArray, scale)
    $.each(data, function(i, dataObject) {
      dataObject.scaledValue = quantizer.quantizeNumber(parseFloat(dataObject[column]))
    })
    return data;
  }
  // Function inspired by code in awesome project by Dave Guarino https://github.com/daguar/easy-choropleths
  // Adds `scaled_value` and `value` from data objects into geojson features as, eg, feature.properties.scaled_value
  function addDataToGeoJson(data, geojson) {
    var dataHash = {};
    $.each(data, function(i, dataObject) {
      dataHash[dataObject['GEOID10']] = dataObject
    });
    $.each(geojson.features, function(i, feature) {
      geoid = feature.properties.GEOID10;
      dataObject = dataHash[geoid];

      if (dataObject) {
        feature.properties.scaledValue = dataObject.scaledValue;
        feature.properties.value = parseFloat(dataObject[column]);
      } else {
        feature.properties.scaledValue = -1;
        feature.properties.value = -1;
      }
    });
    return geojson;
  }

  //CSV to json - see: http://techslides.com/convert-csv-to-json-in-javascript/
  function csvJSON(csv) {
    var lines = csv.split("\r"); //excel uses carriage returns instead of new lines (may need to fix this either on upload)
    var result = [];
    var headers = lines[0].split(",");

    for (var i = 1; i < lines.length; i++) {
      var obj = {};
      var currentline = lines[i].split(",");
      for (var j = 0; j < headers.length; j++) {
        obj[headers[j]] = currentline[j];
      }
      result.push(obj);
    }
    return result;
  }

  function extractValuesFromObjectArray(dataObjectArray) {
    return $.map(dataObjectArray, function(dataObject) {
      return parseFloat(dataObject[column]);
    });
  }

  var min, max;

  function Quantizer(dataArray, s) {
    min = d3.min(dataArray);
    max = d3.max(dataArray);

    this.quantizeNumber = d3.scale.quantize()
      .domain([min, max])
      .range(d3.range(1, s + 1)) // Start with only mapping on 1-5 color scale
  }

  function getStyle(feature) {
    col = getColor(feature.properties.scaledValue, 5);
    return {
      fillColor: col,
      weight: 1,
      opacity: 0.3,
      color: 'black',
      fillOpacity: 0.7
    };
  }

  // get color depending on population density value
  function getColor(num, s) {
    return colorbrewer[colors][s][num - 1];
  }

  function onEachFeature(feature, layer) {
    layer.on({
      mousemove: mousemove,
      mouseout: mouseout
    });
  }

  var closeTooltip;

  function mousemove(e) {
    var layer = e.target;

    popup.setLatLng(e.latlng);
    popup.setContent('<h2>' + layer.feature.properties.LABEL + '</h2>' +
      layer.feature.properties.value + " " + units );

    if (!popup._map) popup.openOn(map);
    window.clearTimeout(closeTooltip);

    // highlight feature
    layer.setStyle({
      weight: 3,
      opacity: 0.4,
      fillOpacity: 0.95
    });

    if (!L.Browser.ie && !L.Browser.opera) {
      layer.bringToFront();
    }
  }

  function mouseout(e) {
    geojson.resetStyle(e.target);
    closeTooltip = window.setTimeout(function() {
      map.closePopup();
    }, 100);
  }

  function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
  }

  function getLegendHTML() {
    var legendColors = d3.scale.quantize()
      .domain([min,max])
      .range(colorbrewer[colors][scale]);

    var labels = [];

    for (var i = 0; i < scale; i++) {
      var range = legendColors.invertExtent(colorbrewer[colors][scale][i]);
      from = Math.round(range[0] * 100)/100;
      to = Math.round(range[1] * 100)/100;

      labels.push(
        '<i style="background:' + getColor(i + 1, scale) + '"></i> ' +
        from + (to ? '&ndash;' + to : '+'));
    }
    //return '<span>hello</span>';

    return '<span>&nbsp;'+ units + '</span><br>' + labels.join('<br>');
  }
}


function generateChart(params) {
  if (params) {
    var data = params.data, type = params.type, axisType = params["axis-type"], yFormat = params["y-format"], x = params.column;
    $('#chart').show();
    $('#map').hide();
  } else {
    var data = '{{page.data}}', type = '{{page.type}}', 
      axisType = '{{page.axis-type}}', yFormat = '{{page.y-format}}', x = '{{page.x}}';
  }
  if (type == '') {
    type = 'area';
  }
  if (yFormat != '') {
    yFormat = d3.format(yFormat)
  }

  var chart = c3.generate({
    data: {
      x: x,
      url: '{{site.baseurl}}/data/' + data,
      type: type
    },
    axis: {
      x: {
        type: axisType
      },
      y: {
        tick: {
          format: yFormat
        }
      }
    }
  });
}
</script>