<header>
  <div class="nav-group navbar-fixed-top">
  <nav class="navbar navbar-mini navbar-static-top visible-md visible-lg">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://sfgov.org/" target="_blank">SFGov</a></li>
          <li><a href="http://www.datasf.org" target="_blank">DataSF</a></li>
          <li class="icon"><a href="https://twitter.com/DataSF" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
          <li class="icon"><a href="http://datasf.org/blog/" target="_blank"><i class="fa fa-fw fa-wordpress"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{site.baseurl}}">SF Housing Policy Hub</a>
      </div>
      <div class="collapse navbar-collapse">
        {% unless page.layout == 'front' %}
        <ul class="nav navbar-nav navbar-right">
          {% for link in site.navigation %}
          {% assign current = nil %}
          {% if page.url == link.actual or page.layout == link.layout %}
            {% assign current = 'active' %}
          {% endif %}
          <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
            <a class="{{ current }}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endunless %}
      </div>
    </div>
  </nav>
</div>
</header>