<div class="ribbon">
  <a href="{{site.baseurl}}/about#our-process" title="Read more about what we mean by beta">beta</a>
</div>

<div id="top">
  <div id="skiptocontent"><a href="#maincontent">skip to main content</a></div>
  <div class="nav-group navbar-fixed-top">
    <div class="navbar navbar-mini navbar-static-top visible-md visible-lg" role="region" aria-label="external links">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://sfgov.org/">SFGov</a></li>
            <li><a href="http://www.datasf.org">DataSF</a></li>
          </ul>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}/?ref=brand">SF Housing Data Hub</a>
        </div>
        <div class="collapse navbar-collapse">
          {% unless page.layout == 'front' %}
          <ul class="nav navbar-nav navbar-right">
            {% for link in site.data.navigation %} {% assign current = nil %} {% if page.url == link.url or page.layout == link.layout %} {% assign current = 'active' %} {% endif %}
            <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
              <a class="{{ current }}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endunless %}
        </div>
      </div>
    </nav>
  </div>
</div>
{% assign dir = page.path | split:"/" %}
<header>
  <div class="container-fluid masthead {{ dir[0] }} {% if page.isFront %} home {% endif %}">
    <div class="darkener"></div>
    {% if page.isFront %}
    <div class="container">
      <h1>San Francisco Housing Data Hub</h1>
    </div>
    {% else %}
    <div class="container">
      <h1>{%if page.data %}Data Browser{% else %}{{page.title}}{% endif %}</h1>
    </div>
    {% endif %}
  </div>
</header>
