<!-- base interactivity -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/jquery.easing.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!-- for charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script src="{{site.baseurl}}/assets/js/vendor/c3.min.js"></script>

<!-- for maps -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/Leaflet.fullscreen.min.js'></script>

<!-- utilities -->
<script src="{{site.baseurl}}/assets/js/vendor/toTitleCase.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/colorbrewer.js"></script>

<!-- core hub scripts powering visuals -->
<script src="{{site.baseurl}}/assets/js/core/databrowser.js"></script>
<script src="{{site.baseurl}}/assets/js/core/transformer.js"></script>
<script src="{{site.baseurl}}/assets/js/core/charts.js"></script>
<script src="{{site.baseurl}}/assets/js/core/maps.js"></script>