<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Housing Policy Guide">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <title>Housing Policy Guide</title>
  {% include meta.html %}
</head>

<body>
  {% include header.html %}
  <main role="main">
    <div class="container-fluid masthead data-browser">
      <div class="darkener"></div>
      <div class="container">
        <h1>Data Browser</h1>
      </div>
    </div>
    <div class="container">
      <div id="alert-msg" class="alert alert-warning" role="alert">
      This site is under active development. The content contained herein is likely incomplete and should not be used for any serious research or as a reference until the content is complete.
    </div>
      <div class="row">
        <div class="col-sm-5 col-md-4">
          {% include browser.html %}
        </div>
        <div class="col-sm-7 col-md-8">
          <h1 class="chart-title top">{{ page.chart-title }}</h1>
          {{content}}
          <div id="chart"></div>
          {% assign policy = page.category | downcase %}
          <div class="row" style="margin-top: 20px;">
            <div class="{% if site.data.browser[1].categories contains policy %} col-md-7 {% else %} col-md-12 {% endif %}">
              {% if page.source %} <p><strong>Source:</strong> {{page.source}}</p> {% endif %}
              {% if page.notes %} <p><strong>Notes:</strong> {{page.notes}}</p> {% endif %}
            </div>
            {% if site.data.browser[1].categories contains policy %}
            <div class="col-md-5">
              <a href="{{site.baseurl}}/policies/{{ page.category | downcase }}"><button type="button" style="width:100%" class="btn btn-primary btn-lg btn-block">Read more about this policy</button></a>
            </div>
            {% endif %}
          </div>
         <div id="edit-links">
           <!-- Edit current page -->
          <a href="{% if page.path %}//prose.io/#jasonlally/housing-policy-hub/edit/gh-pages/{{ page.path }}{% else %}//prose.io/#jasonlally/housing-policy-hub{% endif %}" target="_blank">Edit this page in Prose.io</a>

          <!-- Add post -->
          <a href="//prose.io/#jasonlally/housing-policy-hub/tree/gh-pages/data-browser/_posts" target="_blank">Add a post with Prose.io</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>