<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Housing Policy Guide">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <title>SF Housing Data Hub | {{page.title}}</title>
  {% include meta.html %}
</head>

<body>
  {% include header.html %}
  <main role="main">
    <div class="container-fluid masthead data-browser">
      <div class="darkener"></div>
      <div class="container">
        <h1>Data Browser</h1>
      </div>
    </div>
    <div class="container">
      {% include alert.html %}
      <div class="row">
        <div class="col-sm-5 col-md-4">
          {% include browser.html %}
        </div>
        <div class="col-sm-7 col-md-8">
          <article id="maincontent" role="article">
          <h1 class="chart-title top">{{ page.chart-title }}</h1>
          {{content}}
          <div id="chart"></div>
          {% assign policy = page.category | downcase %}
          <div class="row" style="margin-top: 20px;">
            <div class="{% if site.data.browser[1].categories contains policy or page.portalID %} col-md-7 {% else %} col-md-12 {% endif %} footnote">
              {% if page.source %} <p><strong>Source:</strong> {{page.source}}</p> {% endif %}
              {% if page.portalID %} {% assign addendum = "Data are not all updated in real time, please check the source data to verify its recency." %} {% endif %}
              {% if page.notes or page.portalID %} <p><strong>Notes:</strong> {{page.notes}} {{addendum}}</p> {% endif %}
            </div>
            <div class="col-md-5 action-links">
              {% if site.data.browser[1].categories contains policy %}
              <a href="{{site.baseurl}}/policies/{{ page.category | downcase }}" title="Read more about this policy"><button type="button" style="width:100%" class="btn btn-primary btn-lg btn-block action-links-read-more">Read more about this policy</button></a>
              {% endif %}
              {% if page.portalID %}
              <a href="http://data.sfgov.org/d/{{page.portalID}}" title="Get the source dataset"><button type="button" style="width:100%" class="btn btn-primary btn-lg btn-block action-links-source">Get the source dataset</button></a>
              {% endif %}
            </div>
          </div>
          </article>
        </div>
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>