<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Housing Policy Guide">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <title>SF Housing Policy Hub | {{page.title}}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="{{site.baseurl}}/style.css" rel="stylesheet">
  <link href="{{site.baseurl}}/styles/c3.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  {% include header.html %}
  <main role="main" class="content">
    <div class="container-fluid masthead data-browser">
      <div class="darkener"></div>
      <div class="container">
        <h2>Data Browser</h2>
      </div>
    </div>
    <div id="alert-msg" class="alert alert-warning" role="alert">
      This site is under active development. The content contained herein is likely incomplete and should not be used for any serious research or as a reference until the content is complete.
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <div class="panel-group" id="accordion">
            {% include browser.html %}
          </div>
        </div>
        <div class="col-sm-7 col-md-8">
          <h1 class="top">{{ page.title }}</h1>
          <div id="chart"></div>
          {{content}}
          <a href="{{ page.policy-link }}">More on this policy</a>
        </div>
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>