<!DOCTYPE html>
<html lang="en">

{% include core/head.html %}

<body class="embed">
  <div id="viz">
  <div id="front-matter">
    
  </div>
  <div id="chart-embed"></div>
  
  <div id="endnotes">
    <a class='get-data' href="#" title="Get the source dataset" target="_blank">
      <button type="button" style="width:50%; border-radius: 0; float:left" class="btn btn-primary btn-lightblue btn-lg btn-block action-links-source">Get the source data</button>
    </a>
    <a class='visit-hub' href="http://housing.datasf.org" title="Visit the housing data hub to learn more about housing programs and policy" target="_blank">
      <button type="button" style="width:50%; border-radius: 0; float: left" class="btn btn-primary btn-lightblue btn-lg btn-block action-links-source">Read more at the housing data hub</button>
    </a>
  </div>
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!-- for charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script src="{{site.baseurl}}/assets/js/vendor/c3.min.js"></script>

<!-- for maps -->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/Leaflet.fullscreen.min.js'></script>

<!-- utilities -->
<script src="{{site.baseurl}}/assets/js/vendor/toTitleCase.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/colorbrewer.js"></script>

<!-- core hub scripts powering visuals -->
<script src="{{site.baseurl}}/assets/js/core/databrowser.js"></script>
<script src="{{site.baseurl}}/assets/js/core/transformer.js"></script>
<script src="{{site.baseurl}}/assets/js/core/charts.js"></script>
<script src="{{site.baseurl}}/assets/js/core/maps.js"></script>

<script>
	function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}
  $(function() {

    var map = false, 
    	chart = false,
    	pageId = getParameterByName('pageId'),
    	compact = getParameterByName('compact') || null,
    	hubLink = getParameterByName('hubLink') || null,
    	zoom = getParameterByName('zoom') || null,
    	options = browserData[pageId], 
    	parent = 'viz',
    	domain = 'http://housing.datasf.org';
    
    if(zoom !== null) {
      options.zoom = zoom
    }

    if(options.type.indexOf("map") > -1) {
      var map = hubMap.generate(options,'chart-embed');
    } else {
      var chart = hubChart.generate(options,'chart-embed');
    }
    options.chartTitle ? $('#' + parent + ' .chart-title').html(options.chartTitle) : $('#' + parent + ' .chart-title').html('');
    options.description ? $('#' + parent + ' .description').html(options.description) : $('#' + parent + ' .description').html('');
    options.source ? $('#' + parent + ' .source').html('<strong>Source:</strong> ' + options.source) : $('#' + parent + ' .source').html('');
    options.notes ? $('#' + parent + ' .notes').html('<strong>Notes:</strong> ' + options.notes) : $('#' + parent + ' .notes').html('');
    
    if (options.portalID != "") {
    	$('#endnotes .get-data').attr('href','http://data.sfgov.org/d/'+options.portalID)
    } else {
    	$('#endnotes .get-data').hide();
    }
    
    if( hubLink === "false") {
      $('.visit-hub').hide()
      $('.get-data button').css({width:'100%'})
    }

  });
 </script>

</html>