<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Housing Policy Guide">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <title>Housing Policy Guide</title>
  {% include meta.html %}
</head>
{% assign dir = page.path | split:"/" %}

<body>
  {% include header.html %}
  <main role="main">
    <div class="container-fluid masthead {{ dir[0] }} {% if page.isFront %} home {% endif %}">
      <div class="darkener"></div>
      {% if page.isFront %}
      <div class="container">
        <h1>San Francisco Housing Policy Hub <small><a href="{{site.baseurl}}/about" title="Read more about what alpha means"><span class="label label-warning">alpha</span></a></small></h1>
      </div>
      {% else %}
      <div class="container">
        <h1>{{page.title}}</h1>
      </div>
      {% endif %}
    </div>

    <div class="container">
    <div id="alert-msg" class="alert alert-warning" role="alert">
      This site is under active development. The content contained herein is likely incomplete and should not be used for any serious research or as a reference until the content is complete.
    </div>
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>

</html>