<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Housing Policy Guide">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
  <title>SF Housing Policy Hub | {{page.title}}</title>
  {% include meta.html %}
</head>
{% assign dir = page.path | split:"/" %}

<body>
  {% include header.html %}
  <main role="main">
    <div class="container-fluid masthead {{ dir[0] }} {% if page.isFront %} home {% endif %}">
      <div class="darkener"></div>
      {% if page.isFront %}
      <div class="container">
       {% include alert.html %}
        <div class="row">
          <div class="col-sm-12">
            <h1>San Francisco Housing Policy Hub</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>Key data and overview of current policies to inform the discussion about housing availability in SF.</p>
            <p>A project of <a href="https://twitter.com/search?q=%23datasf" target="_blank">#DataSF</a>
            </p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="container">
        <h1>{{page.title}}</h1>
      </div>
      {% endif %}
    </div>
    <div class="container">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>

</html>