---
layout: fixed
title: Policies & Programs
---
<div class="row">
  <div class="col-sm-12">
    <p>Current policies related to affordable housing for the City of San Francisco</p>
  </div>
</div>
{% assign sorted_posts = (site.posts | sort: 'title') %}
{% assign i = 0 %}
{% for post in sorted_posts %}
{% assign postdir = post.path | split:"/" %}
{% if postdir[0] == 'policies'%}
{% assign i = i | plus:1 %}
{% assign remainder = i | modulo:2 %}
{% if remainder == 1 %}
<div class="row equal">
{% endif %}
  <div class="col-md-6">
    <div class="panel panel-default" style="position:relative;">
        <div class="panel-body">
          <h2 class="panel-title"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
            {{post.summary}}
        </div>
        <div class="panel-footer clearfix">
          <div class="ami-container" aria-hidden="true" role="presentation">
            <div class="ami-overlay">
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
            </div>
            <div class="ami-fill">
            </div>
          </div>
        </div>
      <div class="lens" style="position:absolute; bottom: -10px; right: -10px; width: 50px; height: 50px; background-color: black;"></div>
    </div>
  </div>
{% if remainder == 0 %}
</div>
{% endif %}
{% endif %}
{% endfor %}


