---
layout: fixed
title: Policies & Programs
---
<div class="row" style="margin-bottom: 50px;">
  <div class="col-sm-12">
    <p class="lead">Housing policies and programs can be constrained to individual or family income levels and are focused on either helping people increase access to housing or building and maintaining housing units. Those policy frames are represented below in the list of policies and programs.</p>
    <div class="row">
    <div class="col-sm-6">
    <h2>Income Elibibility</h2>
    <p>Housing programs use a tool called “Area Median Income” (AMI). Median income is the income level where 50% of people make more and 50% make less (think median = middle). Our area median includes Marin, San Francisco, and San Mateo counties.</p>
    <p>Programs often define Income eligibility as a percent of AMI. So, for example, if the AMI is $100,000, 50% AMI is $50,000 and 150% is $150,000. The AMI will vary by household size.</p>
    <p>Look for the visual indicating the maximum AMI eligibility for each particular program or policy.</p>
    <div style="text-align: center">
      <div class="ami-container ami-60 ami-example" aria-hidden="true" role="presentation">
        <div class="ami-overlay">
          <div class="ami-overlay-element"></div>
          <div class="ami-overlay-element"></div>
          <div class="ami-overlay-element"></div>
          <div class="ami-overlay-element"></div>
          <div class="ami-overlay-element"></div>
        </div>
        <div class="ami-fill ami-60">
          <div class="ami-label">60%</div>
          <div class="no-ami">No AMI Eligibility</div>
        </div>
        <div class="ami-lower">
          0%
        </div>
        <div class="ami-upper">
          200%
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h2>People or Housing Units</h2>
    <p>Programs that assist individuals or families try to increase their ability to obtain or maintain housing (i.e. increase their ability to “demand” housing in the market). Programs that focus on units try to maintain or increase the “supply” of affordable housing. </p>
      <p>Look for the icons to see the focus of each policy.</p>
    <div class="center-block">
      <span style="margin-right: 20px;"><img src="{{site.baseurl}}/images/icons/units.png" alt="Icon representing policies and programs that target housing units"/> Unit focused policy</span>
    <img src="{{site.baseurl}}/images/icons/people.png" alt="Icon representing policies and programs that target people"/> People focused policy
    </div>
    
  </div>
</div>
  </div>
</div>
{% assign sorted_posts = (site.posts | sort: 'title') %}
{% assign i = 0 %}
{% for post in sorted_posts %}
{% assign postdir = post.path | split:"/" %}
{% if postdir[0] == 'policies'%}
{% assign i = i | plus:1 %}
{% assign remainder = i | modulo:2 %}
{% if remainder == 1 %}
<div class="row equal">
{% endif %}
  <div class="col-sm-6">
    <div class="panel panel-default panel-policies" style="position:relative;">
        <div class="panel-body">
         
            <div class="col-xs-3">
            <img src="{{site.baseurl}}/images/icons/{{post.image}}" alt="Icon representing {{post.title}}" class="img-responsive" style="width: 100px; height: auto; margin-right: 20px;"/>
            </div>
            <div class="col-xs-9">
               <h2 class="panel-title">
            <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
            {{post.summary}}
          </div>
        </div>
        <div class="panel-footer clearfix">
          <div class="ami-container ami-{{post.ami}} hover-tooltip" aria-hidden="true" role="presentation" title="{%if post.ami == 'none'%} This program/policy has no Area Median Income eligibility requirement {% else %} This program/policy covers individuals and families with incomes up to {{post.ami}}% of Area Median Income. {% endif %} {{post.note}}">
            <div class="ami-overlay">
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
            </div>
            <div class="ami-fill ami-{{post.ami}}">
              <div class="ami-label">{{post.ami}}%</div>
              <div class="no-ami">No AMI Eligibility</div>
            </div>
            <div class="ami-lower">
              0%
            </div>
            <div class="ami-upper">
              200%
            </div>
          </div>
          <!--
          <div class="ami-lead">Area Median Income Eligibility</div>-->
        </div>
      <div class="target target-{{post.target}} hover-tooltip" data-toggle="tooltip" title="This policy focuses on {{post.target}} as the primary point of intervention."></div>
    </div>
  </div>
{% if remainder == 0 %}
</div>
{% endif %}
{% endif %}
{% endfor %}


