---
layout: fixed
title: Policies & Programs
attribution: Header image by Daniel Schwen (Own work) [GFDL](http://www.gnu.org/copyleft/fdl.html) or [CC-BY-SA-3.0](http://creativecommons.org/licenses/by-sa/3.0/), via Wikimedia Commons
---
<div class="row" style="margin-bottom: 50px;">
  <div class="col-sm-12">
    <div class="intro" id="maincontent">
      <p class="lead">Housing policies and programs can have different income requirements and focus areas. The two frames below provide ways to group housing programs.</p>
      <div class="row">
        <div class="col-sm-3">
          <h2 style="margin-top: 0;">Income Eligibility</h2>
          <div class="ami-container ami-60 ami-example" aria-hidden="true" role="presentation">
              <div class="ami-overlay">
                <div class="ami-overlay-element"></div>
                <div class="ami-overlay-element"></div>
                <div class="ami-overlay-element"></div>
                <div class="ami-overlay-element"></div>
              </div>
              <div class="ami-fill ami-60">
                <div class="ami-label">60%</div>
                <div class="no-ami">No <abbr>AMI</abbr> Eligibility</div>
              </div>
              <div class="ami-lower">
                0%
              </div>
              <div class="ami-upper">
                120%
              </div>
            </div>
        </div>
        <div class="col-sm-9">
            <p>Housing programs often use percent of “Area Median Income” (<abbr title="Area Median Income">AMI</abbr>) to determine eligibility. <a href="#" tabindex="0" data-trigger="focus" class="definition" role="button" data-toggle="popover"data-placement="bottom" data-content="Median income is the income level where 50% of people make more and 50% make less (think median = middle). Our area median includes Marin, San Francisco, and San Mateo counties. For example, if the AMI is $100,000, 50% AMI is $50,000 and 150% is $150,000. The AMI will vary by household size.">What is <abbr title="Area Median Income">AMI</abbr>?</a> The filled bar indicates the maximum AMI that the program covers. Please note that some programs have various eligibility requirements and this is only a summary view.</p>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3">
          <h2 style="margin-top:0;">People or Housing Units</h2>
          <img src="{{site.baseurl}}/images/icons/people.png" alt="Icon representing policies and programs that target individuals or families" class="policy-icon pull-right"><img src="{{site.baseurl}}/images/icons/units.png" alt="Icon representing policies and programs that target housing units" class="policy-icon pull-right">
        </div>
        <div class="col-sm-9">
          <p>Programs that assist individuals or families try to increase their ability to obtain or maintain housing. Programs that focus on units try to maintain or increase the “supply” of affordable housing. Icons indicate whether people or units are the target of the program.</p>
        </div>
      </div>
    </div>
{% assign sorted_posts = (site.posts | sort: 'title') %}
{% assign i = 0 %}
{% for post in sorted_posts %}
{% assign postdir = post.path | split:"/" %}
{% if postdir[0] == 'policies'%}
{% assign i = i | plus:1 %}
{% assign remainder = i | modulo:2 %}
{% if remainder == 1 %}
<div class="row equal">
{% endif %}
  <div class="col-sm-6">
    <div class="panel panel-default panel-policies" style="position:relative;">
        <div class="panel-body">
         
            <div class="col-xs-3">
            <img src="{{site.baseurl}}/images/icons/{{post.image}}" alt="Icon representing {{post.title}}" class="img-responsive" style="width: 100px; height: auto; margin-right: 20px;"/>
            </div>
            <div class="col-xs-9">
               <h2 class="panel-title">
            <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
            {{post.summary}}
          </div>
        </div>
        <div class="panel-footer clearfix">
          <div class="ami-container ami-{{post.ami}} hover-tooltip" aria-hidden="true" role="presentation" title="{%if post.ami == 'none'%} This program/policy has no Area Median Income eligibility requirement {% else %} This program/policy covers individuals and families with incomes up to {{post.ami}}% of Area Median Income. {% endif %} {{post.note}}">
            <div class="ami-overlay">
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
              <div class="ami-overlay-element"></div>
            </div>
            <div class="ami-fill ami-{{post.ami}}">
              <div class="ami-label">{{post.ami}}%</div>
              <div class="no-ami">No AMI Eligibility</div>
            </div>
            <div class="ami-lower">
              0%
            </div>
            <div class="ami-upper">
              120%
            </div>
          </div>
          <!--
          <div class="ami-lead">Area Median Income Eligibility</div>-->
        </div>
      <div class="target target-{{post.target}} hover-tooltip" data-toggle="tooltip" title="This policy focuses on {{post.target}} as the primary point of intervention."></div>
    </div>
  </div>
{% if remainder == 0 %}
</div>
{% endif %}
{% endif %}
{% endfor %}
</div>
</div>


