---
title: Housing Overview
layout: fixed
embed: true
published: true
---

<div class="row">
	<article id="maincontent" role="article">
	<div class="col-md-9">
		<h2 id="populationandhousing">Population and Housing</h2>
      <p>As of the 2010 Decennial Census, the City of San Francisco’s population was 805,235 with 376,942 housing units. Estimates from 2013 suggest that the City continues to grow with an updated population estimate of 837,442 and 380,971 estimated housing units (dwellings including homes, apartments, groups of rooms).</p>
		<p>Nearly half of the City’s housing stock (~49%) was built prior to 1939, while nearly 6,000 units are now under construction. You can explore more population and housing trends in the visuals below.</p>
		{% include dataembed.html embed="population-and-housing" count="1" %}
		<h2 id="occupancyandtenure">Occupancy and Tenure</h2>
      <p>San Francisco is a city dominated by renters. Historically, the share has hovered around 2/3 renters versus 1/3 owners. As of the 2010 Census, 64% of occupied units were renter occupied versus 36% owner occupied.</p>
		<p>Rental units are located throughout the city but concentrated in the north eastern portion, while owner units represent the majority of the housing stock in the south western part of the city. Explore the trends and distribution of tenure in the charts below.</p>
		{% include dataembed.html embed="occupancy-and-tenure" count="2" %}
		<h2 id="housingaffordability">Housing Affordability</h2>
      <p>There is general agreement that if you pay no more than 1/3 of your income on housing, it's "affordable".</p>
		<p>The Census publishes estimates of the population paying more than 35% of their gross income on housing. In San Francisco, estimates from 2012 suggest that over a third of renters and owners with mortgages pay more than 35% of their gross income on housing costs (38.7%, +/- 1.6% of renters and 36.2%, +/- 2.4% of owners with a mortgage).</p>
		<p>The charts below show affordability and monthly costs by tenure.</p>
		{% include dataembed.html embed="housing-affordability" count="3" %}
	</div>
</article>
	<div class="col-md-3">
		{% include sidenav.html %}
	</div>
</div>